
@mainColor : #3f819f;
@mainFont : "Questrial", sans-serif;
@iconCart : '../images/shoping-cart-icon.png';

@media (min-width: 768px) {
    .int-container {
        background-image : url('../images/bg_int-bridge.jpg') ;
    }
}

h1 {
    border-bottom: 1px solid #a4c3d1;
    color: @mainColor;
    font-family: @mainFont;
    font-size: 2.8em;
    line-height: 1em;
    margin: 0 0 21px;
    padding: 0 0 10px;
}
h3{
    border-bottom: 1px solid #a4c3d1;
    color: @mainColor;
    font-family: @mainFont;
    font-size: 2.4em;
    font-weight: bold;
    line-height: normal;
    margin: 0;
    padding: 0 0 10px;
    text-transform: uppercase;
}
.h3-small{
    color: #1f2530;
}

/******* Progress Bar Step ******/
.ea-content label{
    margin-bottom:0px;
    display:inline;
}
.ea-progress-step{
    display:block;
    background-color:#cbe2ed;
    border:1px solid #4e7e97;
    margin-bottom:50px;
    -webkit-box-shadow: 4px 4px 27px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:    4px 4px 27px 0px rgba(0, 0, 0, 0.4);
    box-shadow:         4px 4px 27px 0px rgba(0, 0, 0, 0.4);
}
.ea-step
{
    font-family: @mainFont;
    font-size:1.5em;
    line-height:1.0em;
    letter-spacing:1px;
    color:#075475;
    padding: 15px 25px;
    text-transform:uppercase;
    border-bottom:1px solid #afcdda;
}
.ea-step-last{
    border-bottom:0px !important;
}
.ea-step-active,
.ea-step-dark
{
    background-color:#1e5a75;
    color:#fff;
    font-family: @mainFont;
    /*border-bottom:1px solid #1e5a75;*/
}
.step-shopping-cart{
    background-image:url(@iconCart);
    background-repeat:no-repeat;
    background-position:center left;
    color:#f6f4eb;
    padding-left:36px;
    line-height:1.1em;
}
.ea-step-total{
    background-image:url(../images/calculator-icon.png);
    background-repeat:no-repeat;
    background-position:center left;
    padding: 9px 0 9px 34px;
}
.ea-shoping-detail{
    font-family: 'Raleway', sans-serif;
    font-size:0.8em;
    font-weight:400;
    text-transform:capitalize;
}
.ea-shoping-text-bold{
    font-family: 'Raleway', sans-serif;
    font-weight:700;
}
.ea-shoping-detail-list{
    vertical-align:top;
}
.ea-shopping-name{
    word-break : break-word;
}



.ea-shopping-price{
    text-align:right;
}
.ea-step-subtotal,
.ea-step-saving{
    text-align:right;
}
.ea-step-subtotal{
    margin-bottom:6px;
}
.ea-box-content-inner{
    display: table;
    padding: 20px 15px 15px;
    width: 100%;
}
.ea-box-content-inner-merch{
    padding:20px 25px 15px 25px;
}
/******* End Progress Bar Step ******/

/***** Step 1 ************/
.ea-content{
    font-family: HelveticaLTStdRegular;
    font-weight:normal;
    color:#1f2530;
    display:table;
    margin-bottom:15px;
    width:100%;
}
.text-bold{
    font-weight:700;
}
.text-label{
    font-family: HelveticaLTStdRegular;
    font-size:1.4em;
    padding:10px 0;
}
.title-text-radio{
    margin-bottom:10px;
}
.ea-content .ea-select-style{
    text-align:right;
    margin-bottom:10px;
}
.ea-content .ea-select-style select{
    background-color:#e7ebee;
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.45);
    box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.45);
    font-weight:normal;
    padding: 11px 0 8px;
    font-family: HelveticaLTStdRegular;
    line-height:1.3em;
    font-size:1.2em;
    margin-bottom: 25px;
    color:#075475;
    text-align:center;
    width:100%;
    outline:none;
}
.ea-content textarea,
.ea-content input
{
    font-family:ralewayregular;
    line-height:1.3em;
    background-color:#e7ebee;
    border:0;
    padding:11px;
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.45);
    box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.45);
    margin-bottom:15px;
}
.ea-btt-prev-next-area{
    font-family: @mainFont;
    font-size:2.1em;
    text-transform:uppercase;
    clear:both;
    margin-bottom:20px;
}
a.ea-btt-prev-next{
    cursor:pointer;
    border:4px solid #82abc0;
    text-decoration:none;
    color:#fff !important;
    background-color:@mainColor;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    display:inline-block;
    width:210px;
    padding:10px 0;
    text-align:center;
    text-decoration:none !important;
    text-transform:uppercase;
    letter-spacing:1px;
    margin-bottom:20px;
}
a.ea-btt-prev-next:hover{
    color:@mainColor !important;
    border:4px solid @mainColor !important;
    background-color:#90bdd5;
}
.ea-img-plan{
    text-align:left;
    margin:10px;
}
.ea-img-plan img{
    max-width:100%;
    height:auto;
    border:1px solid #1e5a75 !important;
}
.option-list-text{
    font-size: 1.4em;
    margin-bottom: 10px;
    margin-top: 10px;
}
.option-list-text a:link,
.option-list-text a:visited,
.text-label a:link,
.text-label a:visited
{
    text-decoration:underline;
    color:#1e5a75 !important;
}
.option-list-text a:hover,
.option-list-text a:active,
.text-label a:link,
.text-label a:visited
{
    text-decoration:none;
}
.merchandise-option-select{
    width:114px !important;
}
.where-service-select{
    width:100% !important;
}
.text-plan ul{
    font-size:1.0em !important;
    margin: 0 !important;
    word-break:break-word;
}
.text-plan ul li{
    padding-left:15px !important;
}
/****** Option Radio  ***************/
.option-yes-no input[type=checkbox]{
    filter: alpha(opacity=0);
    opacity:0;
    height: 38px;
    opacity: 0;
    width: 114px;
}
.option-yes-no {
    background-image: url(../images/yes-no-options.png);
    background-repeat:no-repeat;
    background-position: 0px 0px;
    display: inline-block;
    height: 38px;
    width: 114px;
}
.option-yes-no.option-yes {
    background-position: 0 -63px !important;
}
.text-mor-info-detail {
    color: #1f2530;
    font-family: HelveticaLTStdRegular;
    margin-bottom: 10px;
    margin-top: 10px;
    p {
        font-size: 1em !important;
    }
}
.strong{ font-weight: bold;}

/*
 * Css for knock option
 */
.dcc-field > span {
    background-image: url("../images/nagative-positive-options.png");
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 36px;
    vertical-align: top;
    width: 23px;
}
.dcc-field.optionForce > span,
.dcc-field.optionDisabled > span {
    cursor: default;
}
.dcc-field > span.incButton {
    background-position: right center;
}
.dcc-field > span.decButton {
    background-position: left center;
}
.dcc-field > input {
    background-image: url("../images/nagative-positive-options.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: 0 none;
    font-size: 20px;
    height: 35px;
    text-align: center;
    vertical-align: top;
    width: 41px;
}
.dccNumberParent > * {
    display: inline-block;
    vertical-align: top;
}
.dccNumberParent > span {
    background-image: url("../images/nagative-positive-options.png");
    background-repeat: no-repeat;
    height: 38px;
    width: 34px;
}
.dccNumberParent > span.decButton {
    background-position: left center;
}
.dccNumberParent > span.incButton {
    background-position: right center;
}
.dccNumberParent > input {
    background-image: url("../images/nagative-positive-options.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: 0 none;
    font-size: 1.3em;
    height: 36px;
    text-align: center;
    width: 41px;
}
#death_occur{
    width:100%;
    font-size:1.0em;
}
/********* Step 2 ************/

.ea-box-content{
    background-color:#cbe2ed;
    border:1px solid #4f8099;
    display:table;
    -webkit-box-shadow: 4px 4px 27px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:    4px 4px 27px 0px rgba(0, 0, 0, 0.4);
    box-shadow:         4px 4px 27px 0px rgba(0, 0, 0, 0.4);
    width:100%;
    margin-bottom:25px;
}
#ea-recommended-plan,
#simple-cremation-detial,
#memorial-cremation-detial,
#veterans-cremation-detial,
#traditional-cremation-detial,
#pre-cremation-detail,
#newspaper-detail,
#transfer-detail,
#witness-detail,
#visitation-detail,
#holiday-service-detail,
#forwarding-remains-detail,
#graveside-ceremony-detail,
#witnessed-cremation-detail,
#pickup-location-detail,
#certificate-detail,
#other-preparations-detial,
#necessary-care-detial,
#extensive-restoration-detial,
#refrigeration-detial,
#delivery-of-cremated-detial,
#memorial-package-detail,
#memorial-blanket-detail,
#memorial-portrait-detail,
#ea-cremation-caskets
{
    display:none;
    clear:both;
}
.select-package,
.select-item,
.change-plan
 {
    cursor:pointer;
    border:2px solid #82abc0;
    text-decoration:none;
    color:#fff !important;
    background-color:@mainColor;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display:inline-block;
    width:134px;
    text-align:center;
    letter-spacing:1px;
    font-size:1.3em;
    font-family: @mainFont;
    cursor:pointer;
    -webkit-box-shadow: inset 0px -4px 2px -4px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px -4px 2px -4px rgba(0,0,0,0.3);
    box-shadow: inset 0px -4px 2px -4px rgba(0,0,0,0.3);
}
.select-item{
    padding:6px 10px;
}
.change-plan,
.select-package{
    padding:10px;
}
.select-package.button-selected{
    width:144px;
    background-color:#1e5a75;
}
.select-item.button-selected
 {
    background-color:#1e5a75;
    width:134px;
}
.title-merch-box-area{
    display:inline-block;
    width: 100%;
    background-color:#1e5a75;
}

.tabsSelect{ cursor: pointer; z-index: 5px; height:100%; }
.merch-more__icon{
    position:absolute;
    color:#FFF;
    font-size: 1.4em;
    left:1%;
    top:5%;
    z-index: 0;
}

a.show-package,
.show-package
{
    font-family: @mainFont;
    font-size:1.6em;
    line-height: 1.1em;
    display:inline-block;
    padding:15px 15px;
    color:#fff !important;
    width: 100%;
    background-color:#1e5a75;
    text-transform:uppercase;
    text-decoration:none !important;
    text-align:center;
    letter-spacing:1px;
}
.shadow-title-plan{
    -webkit-box-shadow: 0px 9px 20px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 20px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 20px -9px rgba(0,0,0,0.75);
}
.title-text-plan{
    color:#075475;
    font-family: @mainFont;
    font-size:1.6em;
    margin: 5px 0 0;
    text-transform:uppercase;
}
.text-plan{
    color:#1f2530;
    font-family: HelveticaLTStdRegular;
    font-size:1.2em;
    font-weight:400;
    line-height:1.5em;
    margin:0 0 15px;
    display:inline-block;
}
.text-plan-merch{
    color:#075475;
    font-family: 'Raleway', sans-serif;
    font-size:1.4em;
    font-weight:400;
    line-height:1.5em;
    margin:0 0 25px;
    display:inline-block;
}
.text-merch{
    color:#075475;
    font-family: 'Raleway', sans-serif;
    font-size:1.8em;
    font-weight:500;
    line-height:1.5em;
    text-align: inherit;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
}
.btt-plan-area{
    text-align:left;
}
.line-plan{
    border-bottom: 1px solid #accbd8;
    margin: 10px 0;
    width: 100%;
}
.btt-more-info-area,
.btt-plan-select-area{
    display:inline-block;
    margin-bottom:10px;
}
.btt-more-info-area{
    margin-right:10px;
}
.btt-more-info a{
    cursor:pointer;
    border:2px solid #689bb8;
    text-decoration:none;
    color:#346a83 !important;
    background-color:#aac8de;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display:inline-block;
    width:150px;
    padding:10px 0;
    text-align:center;
    letter-spacing:1px;
    font-size:1.3em;
    font-family: @mainFont;
    text-transform:uppercase;
    text-decoration:none !important;
    -webkit-box-shadow: inset 0px -4px 2px -4px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px -4px 2px -4px rgba(0,0,0,0.3);
    box-shadow: inset 0px -4px 2px -4px rgba(0,0,0,0.3);
}
.ea-options-list-area{
    font-family:HelveticaLTStdRegular;
    display:table;
    width:100%;
    vertical-align:middle;
    padding: 12px 0 0;
    color:#1f2530;
    border-bottom: 1px solid #a4c3d1;
}
.ea-content .ea-options-list-area .select-style{
    font-size:1.0em;
    margin-bottom:15px !important;
}
.ea-merch-product .select-style{
    margin-bottom:15px;
}
.ea-content .select-options {
    margin:0;
    padding:0;
}
.select-style-merch{
    width:134px !important;
}
/***** Light Box Merch *****/
.images-merch{
    margin-bottom: 10px;
    text-align: center;
    position : relative;
    .thumbnail{
        box-shadow: none;
        border:none;
        background: none !important;
    }
}
.images-merch img{
    border:1px solid #5796bb !important;
    margin: 0 auto;
}
.name-merch{
    font-family: HelveticaLTStdRegular;
    height: 34px;
    font-size:1.2em;
    text-align:center;
    margin-bottom:10px;
    color:#075475;
}
.btt-select-merch-area{
    text-align:center;
    margin:0px 0 40px;
    vertical-align:top;
}
.ea-line-box-content-merch{
    border-bottom:1px solid #b0cbd7;
    margin:20px 0;
    width:100%;
}
.price-merch{
    color: #8092be;
    font-family: HelveticaLTStdRegular;
    font-size: 1.4em;
    margin-bottom: 15px;
}
.merchandise-light-box{
    /*background-color: #fff;
    padding: 10px;*/
    color:@mainColor;
    position: relative;
    padding: 10px;
}
.thumb-product{
    display: inline-block;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    /*width: 40%;*/
}
.title-product{
    color:@mainColor;
    display:inline-block;
    width:59%;
    padding-left: 10px;
    h2{
        font-size: 2.6em;
        font-weight: bold;
        margin: 0 0 16px;
        padding: 0;
        font-weight: bold;
    }
}

.description-merch{
    background-color: #b5d3e2;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}
.white-popup {
    background: #cbe2ed;
    border: 11px solid #fff;
    margin: 20px auto;
    max-width: 750px;
    padding: 20px 0 0;
    position: relative;
    width: auto;
}
.description-merch .title{
    font-weight:bold;
}
/****** End Light Box Merch ***********/
.view-detail-merch-link{
    margin:0 0 10px;
}
.view-detail-merch-link a:link, .view-detail-merch-link a:visited{
    text-decoration:underline;
    color:#075475 !important;
    font-size:1.2em;
}
.view-detail-merch-link a:hover, .view-detail-merch-link a:active{
    text-decoration:none;
}
a.more-info-merch-link:link, a.more-info-merch-link:visited{
    font-size:1.4em;
    color:#fff !important;
    display: block;
    float: right;
    margin-top: -33px;
    position: absolute;
    right: 15px;
    text-align: center;
    text-decoration:underline;
}
a.more-info-merch-link:hover, a.more-info-merch-link:active{
    text-decoration:none;
}
.popup-more-info{
    padding: 20px 20px 0;
    p{
        margin-bottom: 20px;
    }
}
/********* Step 3 ************/
.ea-content{
    .ea-box-content-no-bg{
        background-color:transparent !important;
        box-shadow:none !important;
        display:table;
        width:100%;
    }
    .step-innertext {
        color: #1f2530;
        font-size: 1.4em;
        margin-bottom: 10px;
    }
    .ea-box-inner-no-bg{
        display: table;
        padding: 10px;
        width: 100%;
    }
    .btn-edit {
        font-family: @mainFont;
        font-size: 1.3em;
        margin-bottom: 10px;
        text-align: right;
        text-transform: uppercase;
    }
    .number-option-select{
        width:114px !important;
        font-size:1.4em !important;
    }
    .merch-descrip {
        font-size:1.4em;
        padding-top:35px;
    }
    .merch-product-list{
        margin-bottom:15px;
    }
    .total-bottom-area{
        color: @mainColor;
        font-size: 1.6em;
        font-weight: bold;
        text-align: left;
        text-transform: uppercase;
        margin-bottom:15px;
        .total{
            color:#075475;
        }
    }
    .step-titletop{
        color: #075475;
        display: table;
        font-family: @mainFont;
        font-size: 1.8em;
        font-weight: bold;
        margin: 5px 0 10px;
        text-transform: uppercase;
        width:100%;
        span{
            float:right;
        }
    }
}


.step-innertext{
    ul {
        li {
            font-size: 0.7em;
            font-weight: normal;
            word-break : break-word;
        }
    }
}

#death-certificates-detial,
#permit-disposition-detial,
#cremation-fee-detial
{
    display:none;
}


.ea-content .btn-edit a:link, .ea-content .btn-edit a:visited{
    background-color: @mainColor;
    border: 2px solid #82abc0;
    border-radius: 12px;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
}
.ea-content .btn-edit a:hover, .ea-content .btn-edit a:active{
    background-color: #90bdd5;
    border: 2px solid @mainColor !important;
    color: @mainColor !important;
}

#ea-keepsakes-jewelry{
    display:none;
}
.option__p{
    margin-top: 10px;
    margin-left: 10px;
    color:#075475;
    font-weight: 700;
}
.overview__row{ margin-bottom: 10px; }

/*********** Step 4 ************/
.ea-content .title-checkout{
    font-size:2.2em;
    color:#075475;
}
.eaFormBox {
  font-size: 1.6em;
  font-family: HelveticaLTStdRegular,sans-serif;
  color: @mainColor;
  padding-bottom: 5px;
  font-weight:bold;
  text-transform:uppercase;
}
.ea-content .eaFormField {
  margin: 6px 0px;
}
.ea-content .eaFormField input[type="text"],
.ea-content .eaFormField textarea,
.ea-content .eaFormField select
{
    font-family: HelveticaLTStdRegular,sans-serif;
    font-weight:normal;
    background-color: transparent;
    border: 3px solid @mainColor;
    border-radius: 3px;
    box-shadow: none;
    color: #818080;
    font-weight: normal;
    margin-bottom: 10px;
    padding: 7px 10px;
    width: 100%;
    height:40px;
    text-transform:none;
}
.ea-content .payment-options{
    margin-bottom:10px;
    height:51px;
}
.ea-content .formGroupTitle{
    color: @mainColor;
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 15px;
    text-transform: uppercase;
}
.ea-content .textSmallDetail{
    display: inline-block;
    font-size: 0.8em;
    font-weight: normal;
    line-height: 1.2em;
    text-transform: none;
}

.ea-content .creditcardIcon
.ea-content{
    .creditcardIcon {
        margin:0;
        text-align: left;
        img {
            margin: 3px !important;
        }
    }
    .comodoIcon {
        left: 133px;
        margin: 10px 0 20px;
        right: 0;
        top: 402px;
    }
}
.ea-content .planningRadio {
    display: inline-block;
    font-family: HelveticaLTStdRegular,sans-serif;
    color: @mainColor;
    padding: 0px 0;
    width: 100%;
    text-transform:none;
}
.optionRadio {
    background-image: url(../images/bg-radio.png);
    background-position: 0px 0px;
    display: inline-block;
    float: left;
    height: 21px;
    margin: 0 10px 5px 0;
    width: 22px;
}
.optionRadio > input {
    opacity: 0;
    filter: alpha(opacity=0);
}
.optionRadio.option-yes {
    background-position: 0px -21px;
}
.ea-content input[type="radio"]{
    width:22px;
    height:21px;
}
.ea-content .ea-secure-box-inner{
    padding-top:20px;
}
.formrrContent {
    text-transform : none !important;
    min-width: 210px !important;
}
.creditcardIcon {
    li {
        display:inline-block;
        list-style: none !important;
        margin-right: 5px;
        margin-bottom: 10px;
        -webkit-transition:all .2s;
        -moz-transition:all 2s;
        -ms-transition:all .2s;
        -o-transition:all .2s;
        transition:all .2s;
        width: 51px;
        height: 32px;
        &:last-of-type {
            margin-right: 0px;
        }
        &.discover{
            background: url("../images/icon-discover.jpg") no-repeat;
            &.off{
                background: url("../images/ccicon-discover-gray.png") no-repeat;
            }
        }
        &.mastercard{
            background: url("../images/icon-mastercard.jpg") no-repeat;
            &.off{
                background: url("../images/ccicon-mastercard-gray.png") no-repeat;
            }
        }
        &.visa{
            background: url("../images/icon-visa.jpg") no-repeat;
            margin-left: 5px;
            &.off{
                background: url("../images/ccicon-visa-gray.png") no-repeat;
            }
        }
        &.amex{
            background: url("../images/icon-ame.jpg") no-repeat;
            &.off{
                background: url("../images/ccicon-amex-gray.png") no-repeat;
            }
        }
    }
}
.valid{background:url(../images/tick.png) 187px center no-repeat; }
.style__2-subtitle{
    font-size: 0.9em !important;
    margin-left: 31px  !important;
    word-break: break-word;
}
/******* Step 5 ********************/
#boxmask{
    position: absolute;
    background-color: #F2F6F5;
    opacity:0.7;
    filter: alpha(opacity=70);
    z-index: 100;
    height: 100%;
    width: 100%;
}
#biographical-information-form-area{
    clear: both;
    display: block;
    position: relative;
}
.pdf-link
{
    color:@mainColor;
    display:none;
    font-weight:normal;
    margin: 10px 0 0 32px;
    width: 100%;
}
.pdf-link a{
    display:inline-block;
}
.ea-btn-link a:link, .ea-btn-link a:visited{
    cursor:pointer;
    border:4px solid #82abc0;
    text-decoration:none;
    color:#fff !important;
    background-color:@mainColor;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    display:inline-block;
    padding: 8px 20px;
    text-align:center;
    text-decoration:none !important;
    text-transform:uppercase;
    letter-spacing:1px;
    margin:15px 0 10px 0;
}
.ea-btn-link a:hover, .ea-btn-link a:active{
    color:@mainColor !important;
    border:4px solid @mainColor !important;
    background-color:#90bdd5;
}
.ea-content .text-bottom-input{
    display: inline-block;
    font-size: 0.8em;
    position: relative;
    top: -11px;
}
.optionRadioInline{
    display:inline-block;
    margin-right:10px;
}
.btn-click-hear-photo{
    cursor:pointer;
    border:4px solid #82abc0;
    text-decoration:none;
    color:#fff !important;
    background-color:@mainColor;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    display:inline-block;
    padding: 8px 20px 8px 50px;
    text-align:center;
    text-decoration:none !important;
    text-transform:uppercase;
    letter-spacing:1px;
    font-size: 0.8em;
    background-image:url(../images/icon-download-photo.png);
    background-repeat:no-repeat;
    background-position:20px center;
}

.thanks-message{
    p {
        color: #1f2530;
        font-family: HelveticaLTStdRegular, sans-serif;
        font-size: 1.5em;
        margin: 0 0 20px;
        padding: 0;
        line-height: 1.5em;
        font-weight: 500;
    }
    .h4__headline {
        color: #3f819f;
        font-family: 'Questrial', sans-serif;
        font-size: 2.2em;
        font-weight: bold;
        line-height: 1.1em;
        margin: 0 0 18px;
        padding: 0;
        text-transform: uppercase;
    }
}

/******** Step 6 **************/
.ea-form-left{
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.ea-form-right{
    display: inline-block;
    text-transform: none;
    vertical-align: top;
    width: 100%;
}
.ea-space-bottom-form{
    padding-bottom:15px;
}
input[type="text"].input-form-left{
    width:100px !important;
}
.ea-content .check-box-form
 {
    background-image: url(../images/bg-checkbox.png);
    background-repeat:no-repeat;
    background-position: 0px -1px;
    display: inline-block;
    float:left;
    display:inline-block;
}
.ea-content input[type="checkbox"].check-box-form
{
    filter: alpha(opacity=0);
    opacity:0;
    height: 20px;
    opacity: 0;
    width: 22px;
    margin: 0;
}
.ea-content .check-box-form.option-yes
{
    background-position: 0px -22px;
}
.ea-content .label-check-box {
    display: inline-block;
    line-height: 1.3em;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 85%;
}
.ea-form-input-in-right-col{
    padding-top:5px;
}
.ea-content input[type="text"].input-signature{
    width:96%;
}
.ea-btn-home{
    text-align:right;
}
.ea-content input[type="submit"].btn-submit-email{
    background-color: @mainColor;
    border: 2px solid #82abc0;
    border-radius: 12px;
    box-shadow: none;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-family: @mainFont;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding: 7px 17px;
    text-align: center;
    text-decoration: none !important;
    text-transform: none;
}
.ea-content input[type="submit"].btn-submit-email:hover{
    background-color: #90bdd5;
    border: 2px solid @mainColor !important;
    color: @mainColor !important;
}
.hide{ display:none; }
.relative{ position: relative;}
.errorPackage{ width: 200px;}
.errorOption{ width: 300px; height:100px;  position:absolute; top:0; left:0;}

#bootstrapped-fine-uploader{
    margin-top: -17px;
    margin-bottom: 10px;
    .progressbar {
        margin-bottom: 10px;
    }
}
.qq-upload-button-hover{ background-color: #90bdd5 !important; }
.qq-upload-list{
    padding: 0px !important;
    li{
        padding: 5px !important;
    }
}
.photoResult{

    .thumbnail {
      width: 200px;
      display: block;
      margin: 0px auto;
    }
    .removeFile{
        color: #FFF;
        text-decoration: none !important;
        font-size: 0.8em;
        text-transform: none;
        margin-top: 10px;
    }
}

.checkbox__row{
    vertical-align:text-bottom;
}

.authAgent{
    width:600px;
    background-color: #cbe2ed;
    border:10px solid #ffffff;
    /*height:500px;*/
    font-family: HelveticaLTStdRegular, sans-serif;
    color: #3f819f;
    font-weight:normal;
    text-align: center;
    margin: 0 auto;
    .refundbox {
        text-align:left;
        padding:32px;
        p{ color:#3f819f; }
    }
    .view-policy-title {
        font-size: 2em;
        font-weight: bold;
        padding-bottom: 15px;
        text-transform: uppercase;
    }
}

.signature-font {
    font-family: 'Dancing Script' !important;
    font-size: 24px !important;
    font-weight: bold !important;
}

.ea-box-inner-container {
    .inner-title {
        color : #FFF;
        background-color : #3f819f;
        padding: 5px;
        font-size: 24px;
    }
    .ea-form-detail{
        padding: 10px;
        .eaFormBox {
            font-size : 1.4em;
        }
    }
}





/* ==========================================================================
MEDIA QUERIES
========================================================================== */

@media screen and (max-width: 767px) {
    .ea-content .select-options{
        text-align:left !important;
    }
    .ea-content .step-titletop span{
        float:none;
    }
    .ea-content .merch-descrip {
        padding-left:15px;
    }
    .ea-content .ea-select-style{
        text-align:left;
    }
    .ea-content .merch-descrip{
        padding-top:30px;
    }
    .ea-content input[type="text"].input-signature{
        width:94%;
    }
    .ea-content .check-box-form {
        background-position: 0 0;
    }
    .ea-content .check-box-form.option-yes
    {
        background-position: 0px -21px;
    }
    .ea-btn-home{
        text-align:left;
    }
    a.more-info-merch-link:link, a.more-info-merch-link:visited{
        color: #fff !important;
        float: none !important;
        margin: 0 0 15px;
        position: relative;
        right: 0px;
    }
    #viewrefund {
        width:auto;
        height:auto;
    }
}

@media (min-width: 768px) and (max-width: 939px){
    .ea-step {
        font-size: 1.5em;
        padding: 15px 20px;
    }
    .ea-plan-package-price{
        text-align: right;
    }
    .ea-content .label-radio {
        width:90%;
    }
    a.ea-btt-prev-next {
        width:175px;
    }
    .btt-remove-item-area{
        text-align:right;
    }
    .select-merch{
        width:152% !important;
    }
    .image-merch-area span{
        margin-bottom:0;
    }
    .add-remove-item.button-selected{
        width:135px;
    }
    .comodo-logo-area{
        margin:10px 0 0 10px;
    }
    .ea-content .select-options{
        text-align:right !important;
    }
    .ea-btt-prev-next-area {
        font-size:1.7em;
    }
    .ea-content .creditcardIcon {
      margin: 25px 0px 20px 0;
      text-align: center;
    }
    .ea-content .comodoIcon {
        bottom: 0;
        margin:0;
        left: 40px;
        position: absolute;
        top: 402px;
    }
    .ea-content .total-bottom-area{
        text-align:right;
    }
    .ea-form-left{
        width: 31% !important;
    }
    .ea-form-right{
        width: 67% !important;
    }
    .ea-content .label-check-box {
        width: 88%;
    }
    .ea-content .check-box-form {
        background-position: 0 0;
    }
    .ea-content .check-box-form.option-yes
    {
        background-position: 0px -21px;
    }
    .white-popup {
        min-width:600px;
    }

    .ea-shopping-price{ text-align: left; margin-top: 10px; }
}

@media (min-width: 940px) {
    .ea-plan-package-price{
        text-align: right;
    }
    .btt-remove-item-area{
        text-align:right;
    }
    .image-merch-area span{
        margin-bottom:0;
    }
    .comodo-logo-area{
        margin:10px 0 0 20px;
    }
    .contact-form{
        padding-left:20px;
    }
    .ea-content .select-options{
        text-align:right !important;
    }
    .ea-content .creditcardIcon {
      margin: 25px 0px 20px 0;
      text-align: center;
    }
    .ea-content .comodoIcon {
        bottom: 0;
        margin:0;
        left: 40px;
        position: absolute;
        top: 402px;
    }
    .ea-content .total-bottom-area{
        text-align:right;
    }
    /***** step 6 ******/
    .ea-form-left{
        width: 26%;
    }
    .ea-form-right{
        width: 73%;
    }
    .ea-form-order-desposition .ea-form-left{
        width: 23%;
    }
    .ea-form-order-desposition .ea-form-right{
        width: 74%;
    }
    /**** Step 2 *****/
    .white-popup {
        min-width:600px;
    }
}
#divPrint{ min-height: 400px;  }
@media print {
   .hidden-print{ display: none !important;}

}


